{% extends 'layouts/base.html' %}

{% block content %}

<h1>Vehículos pendientes</h1>

<form action="{% url 'task_search' %}" method="get" class="mb-3">
        {% csrf_token %}
        <input type="text" name="q", placeholder="Buscar patentes">
        <button type="submit" class="btn btn-primary">Buscar</button>

</form>

    {% for task in tasks %}

        <div class="card mb-3">
            <div class="card-header">
                Campaña: {{ task.project.name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <p class="card-text">Comentario cliente: {{ task.description }}</p>
                <p class="card-text">Responsable asignado: {{ task.user }}</p>
                <a href="{% url 'task_detail' task.id %}" class="btn btn-success">Detalle</a>
            </div>
        </div>

        <!--
        <div class="task-item">
            <div class="task-container">  

                <div class="task-header">
                    <h3 class="task-title">
                        {% if task.done == False %}
                            <i class="fas fa-circle"></i>
                        {% else %}
                            <i class="fas fa-check-circle"></i>
                        {% endif %}
            
                        {% if task.important %}
                            <strong>{{ task.title }}</strong>
                        {% else %}
                            {{ task.title }}
                        {% endif %}
                    </h3>
                    
                    <div class="task-status">
                        {% if task.done == False %}
                        <span>Pendiente</span>
                        {% else %}
                        <span>Realizada</span>
                        {% endif %}
                    </div>
                </div>

                <div class="task-details">
                    <p>Comentario cliente: {{ task.description }}</p>
                    <p>Responsable asignado: {{ task.user }}</p>
                    <p>Campaña: {{ task.project.name }}</p>

                    {% if task.datecompleted == None %}
                        <p>Pendiente de entrega</p>
                    {% else %}
                        <p>{{task.datecompleted}}</p>
                    {% endif %}


                    
                </div>

                <div class="task-actions">

                    <a href="{% url 'task_detail' task.id %}">
                        <button data-task-id="{{ task.id }}" class="btn btn-info">Ver detalle</button>
                    </a>
                    <button data-task-id="{{ task.id }}" class="btn btn-success">Marcar como completada</button>
                    <button data-task-id="{{ task.id }}" class="btn btn-danger">Eliminar</button>
                </div>
            </div> 
        </div>
        -->


    {% endfor %}



{% endblock %}