{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'logo-footer.png' %}" alt="logo SGMAC" width="300">

<main class="container py-5">
    <section class="card card-body">
        <h1>{{title}}</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae laudantium praesentium necessitatibus harum adipisci quasi, quas consequatur deserunt est odio ab nemo asperiores aperiam officia dignissimos! Voluptatem fuga quisquam cupiditate?</p>


        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>

    </section>
</main>

{% endblock %}