{% extends 'layouts/base2.html' %}
{% load static %}

{% block content %}

<h1>Vehículos</h1>

<section class="car no-padding-top">
    <div class="carcontainer">

        {% for car in cars %}
        <!-- car-->
        <section class="product">

            <div class="product__photo">
                    <div class="photo-main">
                        <img src="https://www.kia.com/content/dam/kwcms/kme/global/en/assets/vehicles/cd-hb/discover/kia-ceed-gtl-my22-actionpanel-get-yours.jpg" alt="Kia Ceed">
                    </div>
            </div>

            <div class="product__info">
                <div class="title">
                    <h1>Brand: {{car.marca}}</h1>
                    <span>Model: {{car.modelo}}</span>
                </div>
    
                <div class="price">
                    PIN <span>{{car.pin}}</span>
                </div>
    
                <div class="description">
                    <h2>Check-list</h2>
                    <div>✅ Carrocería</div>
                    <div>✅ Cristales</div>
                    <div>🆘 Llantas</div>
                    <div>🆘 Interior</div>
                </div>
            </div>

            <div class="product__actions">
                <button class="delete--btn">DELETE</button>
                <button class="update--btn">UPDATE</button>
                <button class="send2aproval--btn">SEND TO APROVAL STAGE</button>
            </div>

        </section>
        <!-- car-->
        {% endfor %}

    </div>
</section>



{% endblock %}